<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Error - MyTube</title>
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3163176186394702"
     crossorigin="anonymous"></script>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='MyTube.png') }}">
</head>
<body>
    <h1>Error</h1>
    <img src="{{ url_for('static', filename='fucku.png') }}" alt="Fuck You">
    <h2>Video file upload failed</h2>
    <p>{{ error_message }}</p>
      <nav>
    {% if current_user.is_authenticated %}
      <h1>Logged in as <a>{{ current_user.username }}</a></h1>
      <a href="/logout"><button onclick="return confirm('Are you sure?')">Logout</button></a>
    {% else %}
      <a href="/login"><button>Login</button></a>
      <a href="/register"><button>Register</button></a>
    {% endif %}
  </nav>
    <button onclick="location.href='{{ url_for('index') }}'">Go back to Home</button>
</body>
<br>
<br>

  <footer>
    <section>
      <br>
      <p>© 2023-25 MyTube, this guy Labs, FusionCore Corp. All rights reserved.   [MyTube v{{ ver }}]</p>
    </section>
  </footer>
</html>
