
            <!DOCTYPE html>
            <html>
            <head>
              <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3163176186394702"
     crossorigin="anonymous"></script>
                <meta charset="utf-8">
                <meta name="viewport" content="width=device-width, initial-scale=1">
                <title>Emesis Blue (2023) - MyTube</title>
                <link rel="icon" type="image/png" href="{{ url_for('static', filename='MyTube.png') }}">
                <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css">
            </head>
            <body>
                <h1>MyTube</h1>
                <button onclick="location.href='{{ url_for('index') }}'">Home</button>
                <button onclick="location.href='{{ url_for('videos') }}'">Videos</button>
                <br>
                <video src="/uploads/eb.mp4" controls></video>
                <h1 class="title">Emesis Blue (2023)</h1>
                <p class="uploader">Uploader: this guy</p>
                <p>Description: Emesis Blue movie <srong> HEAVILY</strong> compressed for MyTube. (<em>Emesis Blue is free on Y*uTube</em>)</p>
            </body>
            <br>
<br>

  <footer>
    <section>
            <br>
      <p>© 2023-25 MyTube, this guy Labs, FusionCore Corp. All rights reserved.   [MyTube v{{ ver }}]</p>
    </section>
  </footer>
            </html>
            