<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>MyTube - All Videos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>All Videos (sorry about the messed up order)</h1>
    <div class="videos">
<a href="/video/Mt-0w7jr5o3.html">a</a><br>
    <a href="/video/Mt-21cHywc6.html">test2</a><br>
    <a href="/video/Mt-3RsT7j6T.html">s</a><br>
    <a href="/video/Mt-9yr1GRur.html">you want to play good game?</a><br>
    <a href="/video/Mt-aM9yvOFx.html">ShellOS 5.1 Showcase</a><br>
    <a href="/video/Mt-ayqEab9g.html">Terminal Upload</a><br>
    <a href="/video/Mt-brHNr444.html">ShellOS 5.1 Showcase</a><br>
    <a href="/video/Mt-cbfMFj6z.html">Running Linux in Microsoft Excel</a><br>
    <a href="/video/Mt-Ek3NTLyA.html">Super Idol - AMBATAKAM</a><br>
    <a href="/video/Mt-EqhZNAY8.html">test</a><br>
    <a href="/video/Mt-f8dskeSS.html">ZORBEEZ</a><br>
    <a href="/video/Mt-fWMcU9Va.html">cool video</a><br>
    <a href="/video/Mt-I8tupmmF.html">Jews.mp4</a><br>
    <a href="/video/Mt-j7c9svYW.html">MyTube Source</a><br>
    <a href="/video/Mt-JjBFkwDA.html">Osama.mp4</a><br>
    <a href="/video/Mt-JTvCscAD.html">Emesis Blue (2023)</a><br>
    <a href="/video/Mt-KpSbqvSM.html">funny video</a><br>
    <a href="/video/Mt-nryyN9Jp.html">burger king guy</a><br>
    <a href="/video/Mt-NyDEzMi2.html">Test1</a><br>
    <a href="/video/Mt-qNkcrhDr.html">burger king guy 2</a><br>
    <a href="/video/Mt-Qz0e7dko.html">Emesis Blue (2023) UNCOMPRESSED</a><br>
    <a href="/video/Mt-R6pNhfsJ.html">AlienOS.Alpha Terminal.v1 Showcase</a><br>
    <a href="/video/Mt-u1BQByUr.html">Niggers</a><br>
    <a href="/video/Mt-Uc7ZlD5D.html">i swear im good at shooting bro</a><br>
    <a href="/video/Mt-zcdMkXKt.html">i swear im good at shooting bro</a><br>
    </div>
    <br>
<br>
<br>
<br>

  <footer>
    <section>
      <br>
      <p>© 2023-25 MyTube, this guy Labs, FusionCore Corp. All rights reserved.   [MyTube v{{ ver }}]</p>
      <button onclick="showModal()" style="position: fixed; bottom: 10px; right: 10px; z-index: 1001;">Patch Notes</button>
    </section>
  </footer>
</body>
</html>