<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>MyTube - All Videos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>All Videos</h1>
  <section>
    {% if current_user.is_authenticated %}
      <p style="font-size: 20px;">Logged in as: <a href="/channel/{{ current_user.username }}">{{ current_user.username }}</a></p>
      <a href="/logout"><button onclick="return confirm('Are you sure?')">Logout</button></a>
      <button onclick="location.href='{{ url_for('delete_account') }}'" class="del">Delete Account</button>
    {% else %}
      <a href="/login"><button>Login</button></a>
      <a href="/register"><button>Register</button></a>
    {% endif %}
    {% if current_user.is_authenticated and current_user.role == 'admin' %}
      <button onclick="location.href='{{ url_for('admin_panel') }}'">Admin Panel</button>
    {% endif %}
      <br>
    <br>
    <button onclick="location.href='{{ url_for('index') }}'">Home</button>
    <button onclick="location.href='{{ url_for('tos') }}'">Terms of Service</button>
    <nav>
  </nav>
  </section>
    <div class="videos">
    </div>
    <br>
<br>
<br>
<br>

  <footer>
    <section>
      <br>
      <p>© 2023-25 MyTube, this guy Labs, FusionCore Corp. All rights reserved.   [MyTube v{{ ver }}]</p>
      <button onclick="showModal()" style="position: fixed; bottom: 10px; right: 10px; z-index: 1001;">Patch Notes</button>
    </section>
  </footer>
</body>
</html>